VITE_API_URL=http://localhost:5000/api
VITE_SUPABASE_URL=https://<your-project>.supabase.co
VITE_SUPABASE_ANON_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.<your-anon-key>
VITE_RAZORPAY_KEY_ID = rzp_test_SeRgU6MPAPAxcl