# ==========================================
# Backend API
# ==========================================
VITE_API_URL=http://localhost:8082/api

# ==========================================
# Application
# ==========================================
VITE_APP_NAME=Market Local Shops
VITE_APP_ENV=development

# ==========================================
# Authentication
# ==========================================
VITE_TOKEN_KEY=authToken

# ==========================================
# Upload URL
# ==========================================
VITE_UPLOAD_URL=http://localhost:8082/uploads

# ==========================================
# Swagger
# ==========================================
VITE_SWAGGER_URL=http://localhost:8082/swagger-ui/index.html

# ==========================================
# Frontend URL
# ==========================================
VITE_FRONTEND_URL=http://localhost:5173